html, body {
    background-color: black;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body video {
    transition: filter 250ms linear;
}

body.loading video {
    filter: grayscale(1) brightness(0.25);
}

body.loading:before {
    content: "Loading Model...";
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 3em;
    font-weight: bold;
    z-index: 100;
}

#handValue {
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 3em;
    font-weight: bold;
    z-index: 100;
}

#dealerUpcard {
    display: none;
    position: absolute;
    bottom: 35px;
    width: 100%;
    z-index: 100;
}

#dealerUpcard .instructions {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

#dealerUpcard .options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#dealerUpcard button {
    font-size: 24px;
    flex: 1;
    margin: 0 5px;
    background-color: white;
    border: 1px solid black;
    cursor: button;
}

#dealerUpcard button.selected {
    background-color: blue;
    color: white;
    border: 1px solid white;
}

html, body, video, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video, canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#fps {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#fps:empty {
    display: none;
}

#fps:after {
    content: " fps";
}
